---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
<style>
  a {
    padding: 0.25rem .7rem;
    color: navy;
    background-color: hsla(264, 81%, 21%, 0.212);
    text-decoration: none;
    border-radius: 4px;
  }
</style>
