---
const platform = "github";
const username = "emarketguy27";
const facebook = "facebook";
const x = "x";
const linkedin = "LinkedIn";
const youtube = "Youtube";

import Social from "./Social.astro";
---

<div class="links-container">
  <p>
    Learn more about my projects on 
    <Social platform="GitHub" username="emarketguy27" />
    - Or follow me on :
    <Social platform="Facebook" username="jamesdennis" />
    <Social platform="x" username="@jamesdennis" />
    <Social platform="LinkedIn" username="jamesdennis" />
    <Social platform="Youtube" username="jamesdennis" />
  </p>
</div>
